---
layout: default
title: Projects
---
<div id="projects" class="project">

    <div class="tagline">
        <h1>Projects.</h1>
        <h2>Creating Is As Vital As Breathing.</h2>
    </div>

    {% include projects.html %}

    <div class="short-about box full">
        <p>
           I've started projects all the time since middle school. It began with the
           "magazine" Game Power in middle school and today I'm running
           five projects together with a bunch of awesome people.
        </p>

        {% include components/box_share.html %}
    </div>

</div>