---
layout: default
title: "Jonny Strömberg @javve - I’m a designer and engineer."
description: "I’m a designer and engineer. Together with my friends I organize events like Nordic.js and Hackaway. We also run a business called Confetti and speak at events."
body_id: "home"
og_image: "http://javve.github.io/images/share-image.png"
---

<div class="head">
  <div class="head-content">
    <h1 class="head-headline">HELLO! I'm Jonny</h1>
    <h2 class="head-tagline">
      I’m a designer and engineer. Together with my friends I
      organize events like <a href="#nordicjs-2015">Nordic.js</a> and <a href="#hackaway-2">Hackaway</a>.
      We also run a business called <a href="#confetti">Confetti</a> and <a href="#speaking">speak</a> at events.
    </h2>
    <h3 class="head-social">
      <a href="https://twitter.com/javve">Twitter</a> &nbsp; &nbsp;
      <a href="https://github.com/javve">GitHub</a> &nbsp; &nbsp;
      <a href="https://facebook.com/javve">Facebook</a> &nbsp; &nbsp;
      <a href="https://instagram.com/javvve">Instagram</a> &nbsp; &nbsp;
      <a href="https://se.linkedin.com/in/jonnystromberg">Linkedin</a>
    </h3>
  </div>
  <div class="head-image-container">
    <div class="head-image image-fade" data-image="/images/home/jonny2.jpg"></div>
  </div>
</div>

<div class="friends">
  <div class="friends-description"><span class="friend-content">Co-organizers<br />Friends<br />❤</span></div>
  <a class="friend martina" href="https://twitter.com/martinaelm"><span class="friend-content">Martina Elm</span></a>
  <a class="friend johannes" href="https://twitter.com/jede"><span class="friend-content">Johannes Edelstam</span></a>
  <a class="friend joakim" href="https://twitter.com/kalasjocke"><span class="friend-content">Joakim Ekberg</span></a>
  <a class="friend ted" href="https://twitter.com/tedvalentin"><span class="friend-content">Ted Valentin</span></a>
</div>


{% for project in site.data.projects %}
  <div class="project {{project.slug}}">
    <div class="project-content-container">
      <div class="project-content">
        <h1 class="project-title {% if project.logo %} project-logo-container{% endif %}">
          {{project.name}}
          {% if project.logo %} <div class="project-logo" style="background-image:url({{project.logo}})"></div>{% endif %}
        </h1>
        <p class="project-description">{{project.description}}</p>
        <ul class="">
          {% for slide in project.slides %}
            <li><a href="#" data-slide-link="{{slide.slug}}">{{slide.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="posts">
        {% for post in project.posts %}
        <div class="post" data-post-name="{{ post.slug }}">
          <div class="post-image-container">
            <div class="post-image activate-on-screen" data-image="{{ post.image }}"></div>
          </div>
          <div class="post-info">
            <h2 class="post-title">{{ post.name }}</h2>
            <p class="post-description">{{ post.description }}</p>
            {% if post.more %}
            <p class="post-links">
              {% if post.more.event %}<a href="{{post.more.event}}" class="post-links-event">Site</a>{% endif %}
              {% if post.more.images %}<a href="{{post.more.images}}" class="post-links-event">Images</a>{% endif %}
              {% if post.more.video %}<a href="{{post.more.video}}" class="post-links-event">Video</a>{% endif %}
            </p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="project-background-image activate-on-screen" data-image="/images/home/nordicjs-2015.jpg"></div>
    </div>

  </div>
{% endfor %}
