<div class="author">
    <h3>About the author and discussions</h3>
    
    <img src="{{ root_url }}/images/graphics/jonny/jonny-2.jpg" class="profile-image" />
    <p class="first">
        I'm Jonny. A Photoshopping JavaScript Ninja from Stockholm.
        Works as <em>The</em> designer at <a href="http://mynewsdesk.com">Mynewsdesk</a>. Entrepreneur-ish 
        tech evangelist behind <a href="http://listjs.com">List.js</a>, 
        <a href="http://silarapp.com">SilarApp</a> and 
        <a href="http://startuplocation.com">StartupLocation</a>.
    </p>
    {% if page.comments != false %}
    <p>
        If you want to comment, discuss, upvote or downvote this 
        post, <a href="{{ page.commentsUrl }}">Hacker News</a> is the place to be. 
    </p>
    {% else %}
    <p><em>Follow me at Twitter, do it!</em></p>
    {% endif %}
    <a href="https://twitter.com/javve" class="twitter-follow-button" data-width="70" data-show-count="false" data-show-screen-name="false">Follow @javve</a>
</div>