<div id="lifestream" class="tweetstream">
    <h3>Lifestream</h3>
    <ul class="list">
        <li id="tmpl-item">
            <p class="text"></p>
            <p class="user"></p>
        </li>
    </ul>
    <div id="stream-loading"></div>
</div>

<script type="text/javascript">
$(function() {
    window.lifeStream = new TweetStream(
        'lifestream', 
        {
            streamName: "lifeStream",
            twitterUrl: "https://api.twitter.com/statuses/user_timeline/javve.json?callback",
			count: 3
        }
    );
});
</script>