<ul class="sharing">
    <li class="tweet">
    {% if page.shareText %}
        {% if page.hackernews %}
            <a href="https://twitter.com/share" data-text="{{ page.shareText }} (HN: {{ page.hackernews }})" class="twitter-share-button">Tweet</a>
        {% else %}
            <a href="https://twitter.com/share" data-text="{{ page.shareText }}" class="twitter-share-button">Tweet</a>
        {% endif %}
    {% else %}
        {% if page.hackernews %}
            <a href="https://twitter.com/share" data-text="{{ page.title }} (HN: {{ page.hackernews }})" class="twitter-share-button">Tweet</a>
        {% else %}
            <a href="https://twitter.com/share" data-text="{{ page.title }}" class="twitter-share-button">Tweet</a>
        {% endif %}
    {% endif %}
    </li>
    <li class="facebook">
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="95" data-show-faces="false" data-font="arial"></div>
    </li>
    <li class="plusone">
        <g:plusone size="medium"></g:plusone>
    </li>
    <li class="linkedin">
        <script type="IN/Share" data-counter="right"></script>
    </li>
</ul>