<div class="about about-author">
  <div class="container">
    <img src="/images/home/jonny.jpg" class="me">

    <h2>About Jonny</h2>
    <p class="lead">
      A swedish maker and product designer. I enjoy the full process of making web products. Some people
      would call me a full hybrid.
    </p>
    <p>
      I spend my days with both design and programming as well as marketing and product strategy. During the last fifteen years I've
      started project, founded and failed startups, almost earned two master degrees in engineering and met hundreds of inspiring friends.
    </p>
    <p>
      When I'm not making web products, I like organising hackathons, parties and meetups.
    </p>
    <p>
      <b>Follow <a href="https://twitter.com/javve">me at Twitter</a>, do it!</b>
      <a href="https://twitter.com/javve" class="twitter-follow-button" data-width="70" data-show-count="false" data-show-screen-name="true">Follow @javve</a>
    </p>
  </div>
</div>
