<div class="javve-menu">
  <div class="javve-menu-contet">
    <a class="javve-menu-home" href="http://javve.com">Javve.com</a>
    <a class="javve-menu-newsletter" href="#newsletter">Newsletter</a>
    <ul class="javve-menu-items">
      <li class="javve-menu-item">
        <a target="_blank" href="http://listjs.com">List.js
      </a></li>
      <li class="javve-menu-item javve-menu-coming-soon">
        <a href="#newsletter">DragShow <sup>Coming soon!</sup>
      </a></li>
      <li class="javve-menu-item javve-menu-coming-soon">
        <a href="#newsletter">Stateful <sup>Coming soon!</sup>
      </a></li>
    </ul>
  </div>
</div>
