<header>
  <div class="container">
    <nav role="navigation" class="navbar navbar-inverse">
      <div class="navbar-header" style="display:none;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li{% if page.body_id == "home" %} class="active" {% endif %}><a href="{{ root_url }}/">Home</a></li>
          <li{% if page.body_id == "blog" %} class="active" {% endif %}>
            <a href="{{ root_url }}/blog.html">
              Blog
            </a>
          </li>
          <li><a title="twitter.com/javve" href="http://twitter.com/javve"><i class="icon-twitter"></i> Twitter</a></li>
          <li><a title="github.com/javve" href="http://github.com/javve"><i class="icon-github"></i> Github</a></li>
          <li style="display:none;"><a title="facebook.com/javve" href="http://facebook.com/javve"><i class="icon-facebook"></i> Facebook</a></li>
          <li><a title="dribble.com/javve" href="http://dribbble.com/javve"><i class="icon-dribbble"></i> Dribbble</a></li>
          <li><a title="linkedin.com/in/jonnystromberg" href="http://www.linkedin.com/in/jonnystromberg"><i class="icon-linkedin"></i> Linkedin</a></li>
      </ul>
      </div>
    </nav>
  </div>
</header>
