<header>
  <div class="container">
    <ul class="nav">
      {% if page.body_id == "blog" %}<li><a href="{{ root_url }}/">Home</a></li>{% endif %}
      {% if page.body_id == "home" %}<li><a href="{{ root_url }}/blog">Blog</a></li>{% endif %}
      <li><a title="twitter.com/javve" href="http://twitter.com/javve"><i class="fa fa-twitter"></i></a></li>
      <li><a title="github.com/javve" href="http://github.com/javve"><i class="fa fa-github"></i></a></li>
      <li><a title="dribble.com/javve" href="http://dribbble.com/javve"><i class="fa fa-dribbble"></i></a></li>
      <li><a title="linkedin.com/in/jonnystromberg" href="http://www.linkedin.com/in/jonnystromberg"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</header>
