<div class="newsletter">
  <div class="newsletter-content">
    <h2 class="newsletter-title"><a id="newsletter"></a>Let's keep in touch!</h2>
    <p class="newsletter-description">
      Join my personal email list and receive an email
      next time I have something useful to share. Very occationally and no spam, I promise!
    </p>

    <form action="//javve.us14.list-manage.com/subscribe/post?u=5c29f409148ab64294c50afb1&amp;id=6d405cc6ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5c29f409148ab64294c50afb1_6d405cc6ff" tabindex="-1" value=""></div>
      <input type="email" value="" placeholder="E-mail address" name="EMAIL" class="newsletter-email" id="mce-EMAIL">
      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="newsletter-submit">Go!&nbsp; 🎉</button>
    </form>
  </div>
</div>
