---
layout: default
footer: false
---

<div class="tagline">
    <h1>Post in category: {{page.category}}</h1>
</div>
<div id="blog-archives" class="blog-archives">
    <div class="box">
        {% for post in site.categories[page.category] %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% unless year == this_year %}
                {% assign year = this_year %}
                <h2>{{ year }}</h2>
            {% endunless %}
            <article>
                {% include archive_post.html %}
            </article>
        {% endfor %}
    </div>
</div>

