{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">

    {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{ description | strip_html | condense_spaces | truncate:150 }}{% endif %}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.image %}
    <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
    {% endif %}

    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ root_url }}/favicon.png" rel="icon">
    <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">

    <script src="{{ root_url }}/javascripts/modernizr-2.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/htf4iqk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
    <header role="banner">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li{% if page.body_id == "home" %} class="active" {% endif %}><a href="{{ root_url }}/">Home</a></li>
                    <li>
                        <a href="{{ root_url }}/blog/archives">
                            Blog
                        </a>
                    </li>
                    <li><a title="twitter.com/javve" href="http://twitter.com/javve"><i class="icon-twitter"></i> Twitter</a></li>
                    <li><a title="github.com/javve" href="http://github.com/javve"><i class="icon-github"></i> Github</a></li>
                    <li style="display:none;"><a title="facebook.com/javve" href="http://facebook.com/javve"><i class="icon-facebook"></i> Facebook</a></li>
                    <li><a title="dribble.com/javve" href="http://dribbble.com/javve"><i class="icon-dribbble"></i> Dribbble</a></li>
                    <li><a title="linkedin.com/in/jonnystromberg" href="http://www.linkedin.com/in/jonnystromberg"><i class="icon-linkedin"></i> Linkedin</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {{ content | expand_urls: root_url }}

    {% include components/disqus.html %}
    {% include sharing/facebook_like.html %}
    {% include sharing/google_plus_one.html %}
    {% include sharing/twitter_sharing.html %}

    <script src="{{ root_url }}/javascripts/libs/flowtype.js" type="text/javascript"></script>
    <script src="{{ root_url }}/javascripts/js.js" type="text/javascript"></script>

    {% include components/google_analytics.html %}

    <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>

</body>
</html>
