$sans-serif: 'Roboto', Arial, sans-serif;

$break-small: 400px;
$break-medium: 650px;
$break-semi-large: 900px;
$break-large: 1200px;
$break-extra-large: 1700px;

$break-tall: 960px;
$break-medium-tall: 680px;

$z-friend: 1;
$z-friend-hover: 100;

$z-project: 2;
$z-project-content: 3;
$z-project-content-container: 2;

$z-posts: 10;
$z-post-image: 5;

$font-small: 16;

$black: #1F1F1F;

$content-width: 600px;
