@import "mixins";

.head {
  background-color:#f6eff7;
  text-align: center;
  @include screens(semi-large) {
    height:95vh;
    text-align: left;
  }
  .head-image-container {
    overflow: hidden;
    position: relative;
    width:100%;
    padding-top:60%;
    @include screens(semi-large) {
      height:100%;
      width:50%;
      float:left;
      padding-top:0;
    }
  }
  .head-image {
    transition:all .4s ease-in-out;
    transform:scale(1.4);
    background-position:center;
    opacity:0;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    background-size:contain;
    @include screens(semi-large) {
      background-size:cover;
    }

    &.image-ready {
      opacity:1;
      transform:scale(1.1);
    }
  }

  .head-content {
    box-sizing: border-box;
    padding:30px;
    @include screens(semi-large) {
      width:50%;
      position:absolute;
      left: 50%;
      top: 50%;
      transform: translate(0, -50%);
      padding:0 10% 0 0;
    }
  }

  .head-headline {
    font-weight:800;
    font-size:35px;
    color:#222;
    text-shadow:none;
    margin:0 0 10px;
    background: url(/images/home/wave.png) no-repeat right top;
    background-size: auto 90%;
    display: inline-block;
    padding-right:50px;
    @include screens(semi-large) {
      font-size:55px;
      padding-right:70px;
    }
    a {
      font-weight:400;
    }
  }
  .head-tagline {
    color:#555;
    font-size:20px;
    font-weight:300;
    margin:0 0 20px;
    line-height:1.4;
    a {
      transition: all .2s ease-in-out;
      color:#111;
      text-decoration: none;
      border-bottom: solid 1px #ccc;
      &:hover {
        border-bottom: solid 1px #000;
        color:#000;
      }
    }
  }
  .head-social {
    @extend .head-tagline;
    font-size:13px;
    font-weight: 400;
  }
  .head-links {
    ul {
      @include font-size(14);
      float:left;
      width:33%;
      margin:0;
      padding:0;
    }
  }
}
.friends {
  padding-top:20%;
  background-color:#000;
  .friends-description,
  .friend {
    position:relative;
    width: 20%;
    padding-top:100%;
    display:block;
    float:left;
    width: 25%;
    padding-top:20%;
    margin-top:-20%;

    @include screens(semi-large) {
      width: 20%;
    }
  }
  .friends-description {
    background-color:#111;
    color:#fff;
    .friend-content {
      position:absolute;
      top:50%;
      width:100%;
      text-align:center;
      transform:translate(0, -50%);
      font-size:22px;
      font-weight:500;
    }
    display:none;
    @include screens(semi-large) {
      display:block;
    }
  }
  .friend {
    position:relative;
    transition:all .2s ease-in-out;
    background-size:cover;
    background-position:center;
    z-index: $z-friend;
    &.martina {
      background-image:url(/images/home/martina.jpg);
      margin-left:0%;
      @include screens(semi-large) {
        margin-left:20%;
      }
    }
    &.johannes {
      background-image:url(/images/home/johannes.jpg);
      margin-left:25%;
      @include screens(semi-large) {
        margin-left:40%;
      }
    }
    &.ted {
      background-image:url(/images/home/ted.jpg);
      margin-left:50%;
      @include screens(semi-large) {
        margin-left:60%;
      }
    }
    &.joakim {
      background-image:url(/images/home/joakim.jpg);
      margin-left:75%;
      @include screens(semi-large) {
        margin-left:80%;
      }
    }
    .friend-content {
      transition:all .4s ease-in-out;
      position:absolute;
      transform:translate(0, 0);
      bottom:0%;
      width:100%;
      color:#fff;
      text-align:center;
      opacity:0;
      font-size:22px;
      font-weight:500;
    }
    @include screens(semi-large) {
      &:hover {
        transform:scale(1.02);
        box-shadow: 0 4px 20px rgba(0,0,0,.3);
        z-index:$z-friend-hover;
        .friend-content {
          opacity:1;
          transform:translate(0, -50%);
        }
      }
    }
  }
}
