@import "mixins";

.head {
  background-color:#f6eff7;
  @include screens(semi-large) {
    height:95vh;
  }
  .head-image-container {
    overflow: hidden;
    position: relative;
    width:100%;
    padding-top:60%;
    @include screens(semi-large) {
      height:100%;
      width:50%;
      float:left;
      padding-top:0;
    }
  }
  .head-image {
    transition:all .4s ease-in-out;
    transform:scale(1.4);
    background-position:center;
    opacity:0;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    background-size:contain;
    @include screens(semi-large) {
      background-size:cover;
    }

    &.image-ready {
      opacity:1;
      transform:scale(1.1);
    }
  }

  .head-content {
    box-sizing: border-box;
    padding:50px;
    @include screens(semi-large) {
      width:50%;
      position:absolute;
      left: 50%;
      top: 50%;
      transform: translate(0, -50%);
      padding:0 10% 0 0;
    }
  }

  .head-headline {
    font-weight:800;
    font-size:35px;
    color:#222;
    text-shadow:none;
    margin:0 0 10px;
    background: url(/images/home/wave.png) no-repeat right top;
    background-size: auto 90%;
    display: inline-block;
    padding-right:50px;
    @include screens(semi-large) {
      font-size:55px;
      padding-right:70px;
    }
    a {
      font-weight:400;
    }
  }
  .head-tagline {
    color:#555;
    font-size:20px;
    font-weight:300;
    margin:0 0 20px;
    line-height:1.4;
    a {
      transition: all .2s ease-in-out;
      color:#111;
      text-decoration: none;
      border-bottom: solid 1px #ccc;
      &:hover {
        border-bottom: solid 1px #000;
        color:#000;
      }
    }
  }
  .head-social {
    @extend .head-tagline;
    font-size:13px;
    font-weight: 400;
  }
  .head-links {
    ul {
      @include font-size(14);
      float:left;
      width:33%;
      margin:0;
      padding:0;
    }
  }
}
.friends {
  padding-top:20%;
  background-color:#000;
  .friends-description,
  .friend {
    position:relative;
    width: 20%;
    padding-top:100%;
    display:block;
    float:left;
    width: 25%;
    padding-top:20%;
    margin-top:-20%;

    @include screens(semi-large) {
      width: 20%;
    }
  }
  .friends-description {
    background-color:#F73838;
    color:#fff;
    .friend-content {
      position:absolute;
      top:50%;
      width:100%;
      text-align:center;
      transform:translate(0, -50%);
      font-size:22px;
      font-weight:500;
    }
    display:none;
    @include screens(semi-large) {
      display:block;
    }
  }
  .friend {
    position:relative;
    transition:all .2s ease-in-out;
    background-size:cover;
    background-position:center;
    z-index:1;
    &.martina {
      background-image:url(/images/home/martina.jpg);
      margin-left:0%;
      @include screens(semi-large) {
        margin-left:20%;
      }
    }
    &.johannes {
      background-image:url(/images/home/johannes.jpg);
      margin-left:25%;
      @include screens(semi-large) {
        margin-left:40%;
      }
    }
    &.ted {
      background-image:url(/images/home/ted.jpg);
      margin-left:50%;
      @include screens(semi-large) {
        margin-left:60%;
      }
    }
    &.joakim {
      background-image:url(/images/home/joakim.jpg);
      margin-left:75%;
      @include screens(semi-large) {
        margin-left:80%;
      }
    }
    .friend-content {
      transition:all .4s ease-in-out;
      position:absolute;
      transform:translate(0, 0);
      bottom:0%;
      width:100%;
      color:#fff;
      text-align:center;
      opacity:0;
      font-size:22px;
      font-weight:500;
    }
    @include screens(semi-large) {
      &:hover {
        transform:scale(1.02);
        box-shadow: 0 4px 20px rgba(0,0,0,.3);
        z-index:100;
        .friend-content {
          opacity:1;
          transform:translate(0, -50%);
        }
      }
    }
  }
}

.project {
  box-sizing: border-box;
  padding:0;
  text-align:center;
  max-width: 100%;
  overflow: hidden;
  position:relative;
  background-color:#111;
  padding-top:60vh;
  @include screens(semi-large) {
    height:56vw;
    padding:30vh 0 10em;
  }
  h2 {
    margin-top:0;
    color:#111;
    font-size:23px;
    text-align: left;
  }
  p {
    font-size:1.4rem;
    text-align:left;
    color:#444;
    margin-bottom:0;
    &:last-child {
      margin-bottom:0;
    }
  }
  .role {
    @include font-size(11);
    border-top: solid 1px rgba(0, 0, 0, 0.08);
    padding: 11px 0 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    .role-title {
      font-weight:500;
      color:#666;
    }
    .role-description {
      font-weight:700;
      color:#111;
    }
  }
  .container {
    @include screens(semi-large) {
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      right:0;
      z-index:3;
    }
  }
  .project-info {
    color:#fff;

    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    padding: 33px;
    @include screens(semi-large) {
      position: absolute;
      bottom:50px;
      left:50px;
      max-width: 430px;
    }
  }
  .project-filter {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    z-index:2;
    background-image: -ms-linear-gradient(hsla(0, 0%, 0%, 0) 20%, hsla(0, 0%, 0%, 0.01) 50%, hsla(0, 0%, 0%, 0.7) 70%, hsla(0, 0%, 0%, 1.0));
    background-image: -moz-linear-gradient(hsla(0, 0%, 0%, 0) 20%, hsla(0, 0%, 0%, 0.01) 50%, hsla(0, 0%, 0%, 0.7) 70%, hsla(0, 0%, 0%, 1.0));
    background-image: -webkit-linear-gradient(hsla(0, 0%, 0%, 0) 20%, hsla(0, 0%, 0%, 0.01) 50%, hsla(0, 0%, 0%, 0.7) 70%, hsla(0, 0%, 0%, 1.0));
    background-image: linear-gradient(hsla(0, 0%, 0%, 0) 20%, hsla(0, 0%, 0%, 0.01) 50%, hsla(0, 0%, 0%, 0.7) 70%, hsla(0, 0%, 0%, 1.0));
    display:none;
  }
  .project-background-image {
    background-size:cover;
    background-position:center;
    position:absolute;
    left:0;
    top:0;
    right:0;
    margin:auto;
    z-index:1;
    height: 60vh;
    @include screens(semi-large) {
      bottom:0;
      height:auto;
    }
  }

  // Animation
  .project-info {
    // transition:all .4s .4s ease-in-out;
    // transform:translateY(20%) scale(0.8);
    // opacity: 0;
    // &.active {
    //   transform:translateY(0);
    //   opacity: 1;
    // }
  }
  .project-background-image {
    transition:all .4s ease-in-out;
    transform:scale(1.05);
    opacity: 0;
    &.active.image-ready {
      opacity:1;
      transform:scale(1);
    }
  }
  // &.confetti {
  //   background-image:url(/images/home/confetti.jpg);
  // }
  // &.nordicjs {
  //   background-image:url(/images/home/nordicjs.jpg);
  // }
  // &.hackaway-1 {
  //   background-image:url(/images/home/hackaway-1.jpg);
  // }
  // &.hackaway-2 {
  //   background-image:url(/images/home/hackaway-2.jpg);
  // }
  // &.hybridconf {
  //   background-image:url(/images/home/hybridconf.jpg);
  // }
  // &.sthlmstartuphack {
  //   background-image:url(/images/home/sthlmstartuphack.jpg);
  // }
  &.silarapp {
    //background-image:url(/images/projects/silarapp.jpg);
  }
}
