html {
  font-size: 62.5%;
  background-color: #000;
}

html, body, input, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  @include larger-font;
  background-color:#fff;
  font-family: $sans-serif;
  line-height: 1.4;
  color:#333;
  margin:0;
}
body#home {
  background-color:#fff;
  min-height:100%;
}


#blog {
  .container {
    max-width:760px;
  }
}

h1,h2,h3,h4,h5,h6,p, li {
  font-family: inherit;
  font-size: inherit;
}
h1, h2, h3 {
  margin-top: 50px;
  margin-bottom: 15px;
  color:#111;
  line-height: 1.2;
  font-family:$sans-serif;
}
h1 {
  font-size: 50px;
  font-size: 5rem;
}
h2 {
  font-size: 26px;
  font-size: 2.6rem;
}
h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

p, ol, ul {
  margin-bottom:30px;
  line-height: 1.5;
  @include larger-font;
  a {
    color:inherit;
    font-weight:600;
    text-decoration:underline;
    color:#111;
  }
}
ul, ol {
  margin-left:40px;
}
li {
  margin-bottom:1%;
}


header {
  background-color:#000a00;
  border-bottom:solid 1px #212121;
  text-align:center;
  font-family:$sans-serif;

  .nav {
    margin:0;
    padding:0;
    & > li {
      font-size: 20px;
      font-size: 2rem;
      display:inline-block;
      margin:0;
      padding:20px 0 20px 20px;
      a {
        color:#777;
        text-decoration:none;
        //@include transition(all .2s ease-in-out);
        &:hover {
          color:#999;
        }
      }
    }
  }
}

.about {
  background-color:#1e272c;
  text-align:center;
  padding:10% 0;
  color:#999;

  a {
    color:#e2ff44;
  }
  h2, b, .lead {
    color:#ddd;
  }
  .me {
    width:180px;
    border-radius:50%;
  }
  .container {
    max-width:750px;
  }
  p {
    text-align:left;
    @include smaller-font;
  }
  .lead {
    @include larger-font;
  }
  iframe {
    top: 4px;
    position: relative;
    left: 4px;
  }
}

.sharing {
  margin:0 0 50px;
  padding:0;
  li {
    list-style-type:none;
    display:inline-block;
    overflow:hidden;
    &.tweet {
      width:100px;
    }
    &.facebook {
      width:100px;
    }
    &.plusone {
      width:80px;
    }
    &.linkedin {
      width:65px;
    }
  }
}
