$blockquote: $type-border !default;

$serif: 'Enriqueta', Georgia, serif;
$sans: 'PT Sans', 'Helvetica Neue', sans-serif;

$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }


blockquote {
  $bq-margin: 1.2em;
  font-style: italic;
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid rgba($text-color-light, .5);
  cite {
    font-style: italic;
    a { color: $text-color-light !important; word-wrap: break-word; }
    &:before { content: '\2014'; padding:{right: .3em; left: .3em;} color: $text-color-light; }
  }
  @media only screen and (min-width: 992px) {
    padding-left: 1.5em;
    border-left-width: 4px;
  }
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
