{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/libs/spin.min.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/libs/twitter-text.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/libs/list.min.js" type="text/javascript"></script>
<script src="{{ root_url }}/javascripts/lifestream.js" type="text/javascript"></script><a href="https://twitter.com/javve" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @javve</a>

{% include google_analytics.html %}

<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=javve"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
