<hgroup class="author">
    <h2>
        <a class="item" href="{{ root_url }}/">
            <img class="portrait" src="https://twimg0-a.akamaihd.net/profile_images/1128464572/jonny-portrait_reasonably_small.jpg" width="72" height="70" />
            <span>{{ site.title }}</span>
        </a>
    </h2>
    <h3>
        <a class="item" href="http://twitter.com/javve">@javve</a>
        <span class="follow">
            <a href="https://twitter.com/javve" class="twitter-follow-button" data-width="70" data-show-count="false" data-show-screen-name="false">Follow @javve</a>
        </span>
    </h3>
</hgroup>
