body {
    background:image-url('bg/body.png') repeat;
    line-height:1.4;
    color:$black;
    -webkit-font-smoothing: antialiased;
    padding-bottom:100px;
}

h1,h2,h3,h4,h5 {
    font-family:$serif;
    b {
        font-weight:bold;
    }
}
p {
    font-family:$sans;
    margin-bottom:10px;
    b {
        font-weight:bold;
    }
}
p:last-child {
    margin-bottom:0;
}
p a {
    color:$dark;
    @include transition-property(color);
    @include transition-duration(.5s); 
}
p a:hover {
    color:lighten($dark, 20%);
}
a {
    text-decoration:none;
}

.wrapper {
    margin:0 auto;
    width:100%;
    max-width:960px;
}
.sidebar {
    width:200px;
}

.float-right {
    float:right;
}
.float-left {
    float:left;
}

.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}
.clearfix{display:block}