body {
   font-size: 16px;
   line-height: 23px;
}
h1,h2,h3,h4,h5,h6,p {
   font-family: inherit;
   font-size: inherit;
}
h1, h2, h3 {
    margin-top: 7%;
    margin-bottom: 2%;
}
h1 {
   font-size: 2.2em;
   line-height: 1em;
}
h2 {
   font-size: 1.5em;
   line-height: 1em;
}
h3 {
   font-size: 1.1em;
   line-height: 1em;
}
p {
    margin-bottom:2%;
    line-height: 1.45em;
}
header {
    text-align:center;

    .navbar {
        margin-bottom:0;
        border-bottom:0;
    }
    .navbar-nav {
        float:none;
        & > li {
            float:none;
        }
    }
    .nav > li {
        display:inline-block;
        margin:0 15px;
        a {
            @include transition(all .2s ease-in-out);
            border-bottom:solid 3px #444;
            padding-bottom: 11px;
            &:hover {
                border-bottom-color: #fff;
            }
        }
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        background-color:transparent;
        border-bottom-color:#fff !important;
    }
}

.tagline {
    background-color:#1e272c;
    text-align:center;
    padding:80px 0 100px;
    &.tagline-blog {
        margin-bottom:50px;
    }
    .tagline-image {
        margin-bottom:30px;
    }
    a {
        color:#e2ff44;
    }
    h1 {
        font-weight:800;
        //font-size:45px;
        color:#fff;
        text-shadow:none;
        margin:0 0 5px;
        a {
            font-weight:400;
        }
    }
    h2 {
        color:#999;
        //font-size:30px;
        font-weight:400;
        margin:0;
    }
    .me {
        width:180px;
        border-radius:50%;
        margin-bottom:30px;
    }
}

.intro {
    @include gradient-vertical(#5ba6d3, #4994c1);
    padding: 100px 0 60px;
    color:#fff;
    text-shadow:1px 1px rgba(0,0,0,.1);
    text-align:center;
    font-size:1em;
    a {
        color:#e2ff44;
    }
    .intro-project {
        background-repeat:no-repeat;
        background-position:center top;
        background-size:178px;
        padding:100px 40px 0;
        margin-bottom:40px;
    }
    .silarapp {
        background-image:url(/images/home/icons/silarapp.png);
    }
    .sthlmstartuphack {
        background-image:url(/images/home/icons/sthlmstartuphack.png);
    }
    .startuplocation {
        background-image:url(/images/home/icons/startuplocation.png);
    }
    .listjs {
        background-image:url(/images/home/icons/listjs.png);
    }
    .sthlmjs {
        background-image:url(/images/home/icons/sthlmjs.png);
    }
    .mynewsdesk {
        background-image:url(/images/home/icons/mynewsdesk.png);
    }
}

blockquote {
    text-align:center;
    padding:100px 0;
    border-left:none;
    margin:0;
    p {
        display:inline-block;
        margin-left:auto;
        margin-right:auto;
        font-size:1.5em;
        color:#6e6e6e;
        text-shadow:1px 1px #fff;
        position:relative;
        .icon-comment {
            position: absolute;
            left: 40%;
            opacity: 0.07;
            font-size: 4.5em;
            top: -50px;
        }
    }
}
.project {
    padding:100px 0;
    text-align:center;
    h2 {
        //font-size:45px;
    }
    p {
        margin-left:auto;
        margin-right:auto;
        max-width: 750px;
        text-align:left;
        font-size:1em;
        &.lead {
            font-size:1.2em;
        }
        &:last-child {
            margin-bottom:0;
        }
        &.more {
            text-align:center;
            font-size: 1.2em;
            font-weight: bold;
            [class^="icon-"], [class*=" icon-"] {
                font-size:0.8em;
            }
        }
    }
    img {
        max-width:100%;
    }
    &.listjs {
        background:url(/images/projects/listjs/bg.jpg) repeat;
        h2 {
            color:#fff;
        }
        p {
            color:#b3b3b3;
            &.more {
                color: #777;
            }
            &.lead {
                color:#eee;
            }
        }
        a {
            color:#eee;
            &:hover {
                color:#fff;
            }
        }
    }
    &.silarapp {
        background-color:#fff;
        img {
            margin-bottom:80px;
        }
        h2 {
            color:#6a3838;
        }
        p {
            //max-width: 710px;
            color:#7d7d77;
            &.more {
                color: #7d7d77;
            }
        }
        a {
            color:#6a95dc;
            &:hover {
                color:#7fabf4;
            }
        }
    }
    &.textcloud {
        background:url(/images/projects/textcloud/bg.jpg) repeat;
        img {
            margin-bottom:80px;
        }
        h2 {
            color:#fff;
        }
        p {
            //max-width: 750px;
            color:#eaebeb;
            &.more {
                color: #fff;
            }
            &.lead {
                color:#fff;
            }
        }
        a {
            color:#fff;
            font-weight:bold;
            &:hover {
                color:#eee;
            }
        }
    }
    &.startuplocation {
        box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.3);
        background:url(/images/projects/startuplocation/screen.jpg) repeat;
        .startuplocation-logo {
            @include gradient-vertical(#3c86d4, #2b74c2);
            padding:100px;
            box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.7);
            border-radius:3px 3px 0 0;
        }
        .startuplocation-container {
            background-color:#fff;
            margin:0 auto;
            box-shadow:0 0 20px rgba(0,0,0,0.4);
            border-radius:3px;
            display:inline-block;
        }
        .startuplocation-content {
            padding:50px 100px;
        }
        h2 {
            color:#222;
        }
        p {
            //max-width: 710px;
            color:#666;
            &.more {
                color: #aaa;
            }
            &.lead {
                color:#222;
            }
        }
        a {
            color:#337cca;
            &:hover {
                color:#eee;
            }
        }
    }
    &.mynewsdesk {
        background-color:#fbf9f9;
        img {
            margin-bottom:80px;
            &:last-child {
                margin-bottom:0;
            }
        }
    }
}

.about {
    background-color:#1e272c;
    text-align:center;
    padding:80px 0 100px;
    color:#999;

    a {
        color:#e2ff44;
    }
    h1 {
        font-weight:800;
        //font-size:45px;
        color:#fff;
        text-shadow:none;
        margin:0 0 5px;
        a {
            font-weight:400;
        }
    }
    h2 {
        color:#999;
        //font-size:30px;
        font-weight:400;
        margin:0;
    }
    .me {
        width:180px;
        border-radius:50%;
        margin-bottom:30px;
    }
}

.width50 {
    width:50%;
}
.width33 {
    width:33%;
}

.sharing {
    margin:0 0 50px;
    padding:0;
    li {
        list-style-type:none;
        display:inline-block;
        overflow:hidden;
        &.tweet {
            width:100px;
        }
        &.facebook {
            width:100px;
        }
        &.plusone {
            width:80px;
        }
        &.linkedin {
            width:65px;
        }
    }
}