.tagline {
    text-shadow:$light-shadow;
    margin-bottom:30px;
    text-align:center;

    h1 {
        font-size:45px;
        text-align:center;
        font-weight:bold;
    }
    h2 {
        font-size:27px;
        color:#656565;
    }
}

.box {
    float:left;
    margin-bottom:30px;
    background-color:$lightest;
    border:solid 1px darken($lightest, 10%);
    padding:30px;
    p {
        font-family:$sans;
        font-size:16px;
    }
    h4 {
        font-weight:bold;
    }
    .share {
        @extends .clearfix;
        background-color:darken($lightest, 2%);
        border-top:solid 1px darken($lightest, 10%);
        padding:15px 30px;
        margin:0 -30px;
        position:relative;
        top:30px;
        float:left;
        width:100%;
        .sharing {
            float:right;
            height:20px;
        }
        p {
            font-size:12px;
            color:#afaca5;
            float:left;
            height:20px;
            line-height:20px;
            margin-bottom:0;
            em {
                font-family:$serif;
                color:#89857e;
            }
        }
    }
}

.padder {
    padding-right:230px;
}

.circle {
    background:image-url('icons/social.png') no-repeat;
    display:inline-block;
    width:82px;
    height:82px;

    @include transition-property(opacity);
    @include transition-duration(.5s); 

    &:hover {
        @include opacity(0.6);
    }
    span {
        display:none;
    }
    &.twitter {}
    &.github {
        background-position:-100px 0;
    }
    &.facebook {
        background-position:-200px 0;
    }
    &.dribble {
        background-position:-305px 0;
    }
    &.linkedin {
        background-position:-405px 0;
    }
} 

.sharing {
    .addthis_toolbox {
        float:left;
    }
    .addthis_button_facebook_like {
        iframe { width:80px !important;}
    }
    .addthis_button_tweet {
        iframe { width:90px !important;}
    }
    .addthis_button_google_plusone {
        iframe,
        div { width:70px !important;}
    }
    .linkedin {
        float:left;
    }
}