footer {
    background:image-url('bg/body-light.png') repeat;
    position:fixed;
    bottom:0;
    width:100%;
    padding:10px 0 0;
    border-top:dotted 1px #e3dfd9;
    
    .addthis_toolbox {
        float:right;
        margin-right:30px;
    }
    .linkedin {
        float:right;
    }
}