header {
    background-color:$dark;
    font-size:16px;
    font-family:$serif;
    margin-bottom:30px;
    line-height:70px;

    a {
        color:$lightest;
    }
    @include clearfix();

    .author {
        height:70px;
        float:left;
        h2 {
            padding:0;
            float:left;
            a.item {
                display:inline-block;
                @include transition-property(background-color);
                @include transition-duration(.5s);
                &:hover {
                    background-color:darken($dark, 5%);
                    color:$white;
                }
                span {
                    display:inline-block;
                    padding-left:10px;
                    padding-right:5px;
                }
            }
        }
        .portrait {
            height:70px;
            float:left;
            border-left:solid 1px darken($dark, 10%);
            border-right:solid 1px darken($dark, 10%);
        }
        h3 {
            float:left;
            @include transition-property(all);
            @include transition-duration(.7s);
            &:hover {
                background-color:darken($dark, 5%);
                .follow iframe {
                    width:70px !important;
                }
            }
            .follow {
                padding-top:4px;
                display:block;
                float:left;
                a {
                    display:none;
                }
                iframe {
                    @include transition-property(width);
                    @include transition-duration(.7s);
                    width:0 !important;
                }
            }
            a.item {
                display:block;
                float:left;
                padding-left:5px;
                padding-right:10px;
                color:$medium;

                &:hover {
                    color:$white;
                }
            }
        }
    }

    .main-navigation {
        float:right;

        li {
            display:inline-block;
        }
        a.item {
            display:inline-block;
            padding-left:20px;
            padding-right:20px;
            line-height:70px;
            @include transition-property(background-color);
            @include transition-duration(.5s);
        }
        a.item:hover {
            background-color:darken($dark, 5%);
            color:$white;
        }
        a.item.blog {
            padding-right:40px;
        }
        .rss {
            position:relative;
            top:2px;
            left:-37px;
        }
    }

    @media (max-width: 767px) {
        .main-navigation {
            float:none;
            clear:left;
            margin-left:15px;
        }
        .author {
            display:none;
        }
    }

    @media (max-width: 480px) {
        .main-navigation {
            margin-left:25px;
            a.item {
                padding-left:10px;
                padding-right:10px;
            }
        }
    }

}