
.tweetstream {
    h3 {
        display:inline-block;
        background:image-url('icons/lifestream.png') no-repeat right 2px;
        padding-right:30px;
        margin-bottom:12px;
    }
    #tmpl-item {
        display:none;
    }
    #steam-loading {
        padding:20px 0 0 30px;
    }

    float:right;
    width:200px;
    li {
        border-top:dotted 1px #cac6c0;
        margin-bottom:12px;
        padding-top:12px;
    }
    p.text {
        color:$light;
        font-size:12px;
    }
    p.user a {
        font-size:11px;
        .date {
            color:$black;
        }
        &:hover {
            .date {
                color:lighten($black, 20%);
            }
        }
    }
}