.about {
    .do {
        clear:both;
        padding-top:30px;
        .c {
            float:left;
            width:45%;
            margin-left:10%;
            &:first-child {
                margin-left:0;
            }
        }
        text-align:left;
        h3 {
            font-size:18px;
            font-weight:bold;
            margin-bottom:7px;
        }
        ul {
            font-family:$sans;
            padding-left:25px;
            margin-bottom:25px;
            li {
                list-style-type:disc;
                margin-bottom:10px;
            }
        }
    }

    .misc {
        clear:both;
        .c {
            width:47%;
            float:left;
            margin-left:6%;
            &:first-child {
                margin-left:0;
            }
        }

        .list {
            text-align:left;
            h3 {
                font-size:18px;
                font-weight:bold;
                margin-bottom:7px;
            }
            ul {
                font-family:$sans;
                padding-left:25px;
                margin-bottom:25px;
                li {
                    list-style-type:disc;
                    margin-bottom:10px;
                }
            }
        }
    }
}