.about {
    .misc {
        clear:both;
        .c {
            width:47%;
            float:left;
            margin-left:6%;
            &:first-child {
                margin-left:0;
            }
        }
        @media (max-width: 480px) {
            .c {
                width:88%;
                float:none;
                margin:6%;
                &:first-child {
                    margin:6%;
                }
            }
        }

        .list {
            text-align:left;
            h3 {
                font-size:18px;
                font-weight:bold;
                margin-bottom:7px;
            }
            ul {
                padding-left:25px;
                margin-bottom:25px;
                li {
                    list-style-type:disc;
                    margin-bottom:10px;
                }
            }
        }
    }
}