.blog {
    .entry-content {
        margin-bottom:20px;
    }
    h1 {
        font-size:40px;
        line-height:1.1;
        margin-bottom:10px;
        font-weight:bold;
    }
    @media (max-width: 767px) {
        h1 {
            font-size:30px;
            padding:0 30px;
        }
        .meta-date {
            font-size:20px;
            padding:0 30px;
        }
    }
    img.header-image {
        width:730px;
        margin-left:-30px;
        margin-right:-30px;
        margin-top:-30px;
        margin-bottom:5px;
    }
    img.default {
        &.float-right {
            margin-left:20px;
            margin-right:-30px;
            margin-top:-30px;
        }
        width:280px;
    }
    .meta-date {
        font-size:22px;
        margin-bottom:20px;
        .category {
            color:$light;
            a {
                color:$link;
            }
        }
    }
    li pre {
        max-width:620px;
    }
    pre {
        max-width:640px;
        overflow:hidden;
    }
    .author {
        clear:left;
    }
    .box {
        ul {
            font-family:$sans;
            margin-bottom:15px;
            padding-left:20px;
            li {
                list-style-type:disc;
                margin-bottom:5px;
            }
        }
    }
}

.blog-archives {
    .box {
        float:none;
    }
    h2 {
        font-size:28px;
    }
    h3 {
        font-size:18px;
        font-weight:bold;
        margin-bottom:0;
    }
    time {
        font-size:13px;
        font-family:$sans;
    }
    article {
        margin-bottom:7px;
    }
}