.blog {
    .entry-content {
        margin-bottom:20px;
    }
    h1 {
        font-size:40px;
        font-weight:bold;
    }
    .meta-date {
        font-size:27px;
        margin-bottom:20px;
    }
    .code {
        margin:30px -30px;
    }
    .author {
        clear:left;
    }
    
    .author {
        text-shadow:$light-shadow;
        h3 {
            font-size:20px;
            margin-bottom:10px;
            font-weight:bold;
        }
        p.first {
            font-size:16px;
        }
        p {
            font-size:14px;
        }
        .profile-image {
            float:left;
            margin-right:15px;
        }
    }
}

.blog-archives {
    .box {
        float:none;
    }
    h2 {
        font-size:28px;
    }
    h1 {
        font-size:18px;
        font-weight:bold;
    }
    time {
        font-size:13px;
        font-family:$sans;
    }
}