.project {
    
    .facts {
        width:350px;
        float:right;
        h3 {
            background:image-url('icons/dices.png') no-repeat right 4px;
            padding-right:30px;
            display:inline-block;
            font-size:20px;
            font-weight:bold;
            margin-bottom:20px;
        }
        p {
            font-size:14px;
        }
        .fact {
            font-family:$sans;
            margin-bottom:30px;
            .firstweek {
                padding-left:22px;
                list-style-type:disc;
                li {
                    font-size:14px;
                    margin-bottom:3px;
                }
            }
        }
        h4 {
            font-size:18px;
            margin-bottom:5px;
        }
    }
    
    blockquote {
        .text {
            font-family:$serif;
            margin-bottom:6px;
            &.big {
                font-size:20px;
                line-height:1.2;
            }
            &.medium {
                font-size:18px;
            }
            &.small {
                font-size:16px;
            }
        }
        .cite {
            font-family:$sans;
            line-height:1.1;
            font-size:12px;
        }
    }
    
    .slides {
        float:left;
        width:350px;
        overflow:hidden;
    }
    
}
.projects {
    clear:left;
    li {
        display:inline-block;
        width:33%;
        margin-bottom:30px;
        margin-right:-3px;
        a {
            text-align:center;
            display:block;
            @include clearfix(); 
        }
        &.startuplocation {
            background:image-url('projects/startuplocation/startuplocation-bg.png') repeat;
            @include border-radius(5px 0 0 5px); 
        }
        &.silarapp {
            background-color:#fff;
            width:34%;
        }
        &.listjs {
            background:image-url('projects/listjs/listjs-bg.jpg') repeat;
            @include border-radius(0 5px 5px 0);
        }
        h2 {
            display:none;
        }
        p {
            display:none;
        }
    }
}