.social {
    padding-top:20px;
    text-align:center;
    li {
        display:inline-block;
        margin-right:15px;
        height:82px;
    }
    a {
        background:image-url('icons/social.png') no-repeat;
        display:inline-block;
        width:82px;
        height:82px;

        @include transition-property(opacity);
        @include transition-duration(.5s);

        &:hover {
            @include opacity(0.6);
        }
        span {
            display:none;
        }
        &.twitter {}
        &.github {
            background-position:-100px 0;
        }
        &.facebook {
            background-position:-200px 0;
        }
        &.dribble {
            background-position:-305px 0;
        }
        &.linkedin {
            background-position:-405px 0;
        }
    }
}