{% unless page.no_header %}
    {% if index %}
        <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">
            {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
            {% include post/date.html %}{{ time }}
        </a></h1>
        {% unless page.meta == false %}
            <p class="meta-date">
                <span class="category">
                    Category {% include post/categories.html %}
                </span>
            </p>
        {% endunless %}

    {% else %}
        <div class="tagline tagline-blog">
            <h1>
                {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
            </h1>
            <h2>{% include post/date.html %}{{ time }}</h2>
        </div>
    {% endif %}

{% endunless %}

<div class="entry-content container">
    {{ content }}

    {% if page.hackernews %}
    <p>
        If you want to comment, discuss, upvote or downvote this
        post, <a href="{{ page.hackernews }}">Hacker News</a> is the place to be.
    </p>
    {% endif %}

    {% include components/box_share.html %}
</div>
<!-- {% include post/categories.html %} -->

{% unless index %}
    {% include post/author.html %}
{% endunless %}