<header>
<hgroup class="author">
    <h2>
        <a class="item" href="{{ root_url }}/">
            <img class="portrait" src="{{ root_url }}/images/graphics/jonny/jonny-small.jpg" width="72" height="70" />
            <span>{{ site.author }}</span>
        </a>
    </h2>
    <h3>
        <a class="item" href="http://twitter.com/javve">@javve</a>
        <span class="follow">
            <a href="https://twitter.com/javve" class="twitter-follow-button" data-width="70" data-show-count="false" data-show-screen-name="false">Follow @javve</a>
        </span>
    </h3>
</hgroup>
</header>