<ul class="main-navigation">
  <li><a class="item" href="{{ root_url }}/">Home</a></li>
  <li><a class="item" href="{{ root_url }}/about">Me</a></li>
  <li><a class="item" href="{{ root_url }}/projects">Projects</a></li>
  <li>
      <a class="blog item" href="{{ root_url }}/blog/archives">
          Blog
      </a>
      <a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">
          <img class="rss"src="{{ root_url }}/images/icons/rss_16.png" width="16" height="16" />
      </a>
  </li>
</ul>
