<ul class="projects">
    <li class="textcloud">
        <a href="http://textcloud.io">
            <img src="{{ root_url }}/images/projects/textcloud/textcloud-logo-200x200.png" />
        </a>
        <h2>Textcloud</h2>
        <p>Write, read and share text. Frictionless.</p>
    </li>

    <li class="teamtailor">
        <a href="http://teamtailor.com">
            <img src="{{ root_url }}/images/projects/teamtailor/teamtailor-logo-200x200.png" />
        </a>
        <h2>Teamtailor</h2>
        <p>Clean and ambient data visualization.</p>
    </li>
    <li class="listjs">
        <a href="{{ root_url }}/projects/listjs">
            <img src="{{ root_url }}/images/projects/listjs/listjs-logo-200x200.png" />
        </a>
        <h2>List.js</h2>
        <p>Gather and unite all startups, beginning in Norden</p>
    </li>
    <li class="silarapp">
        <a href="{{ root_url }}/projects/silarapp">
            <img src="{{ root_url }}/images/projects/silarapp/silarapp-logo-200x200.png" />
        </a>
        <h2>SilarApp</h2>
        <p>Clean and ambient data visualization.</p>
    </li>
    <li class="nothing">
        <img style="visibility:hidden;" src="{{ root_url }}/images/projects/sthlmstartuphack/sthlmstartuphack-logo-200x200.png" />
    </li>
    <li class="sthlmstartuphack">
        <a href="http://startuplocation.com/hack">
            <img src="{{ root_url }}/images/projects/sthlmstartuphack/sthlmstartuphack-logo-200x200.png" />
        </a>
        <h2>Stockholm Startup Hack</h2>
        <p>Gather and unite all startups, beginning in Norden</p>
    </li>
    <li class="startuplocation">
        <a href="{{ root_url }}/projects/startuplocation">
            <img src="{{ root_url }}/images/projects/startuplocation/startuplocation-logo-200x200.png" />
        </a>
        <h2>StartupLocation</h2>
        <p>Gather and unite all startups, beginning in Norden</p>
    </li>
    <li class="hashjs">
        <a href="{{ root_url }}/hash-js/">
            <img src="{{ root_url }}/images/projects/hashjs/hashjs-logo-200x200.png" />
        </a>
        <h2>Hash.js</h2>
        <p>Gather and unite all startups, beginning in Norden</p>
    </li>
    <li class="pong">
        <a href="http://sthlmstartup.com/pong">
            <img src="{{ root_url }}/images/projects/sthlmstartuppong/sthlmstartuppong-logo-200x200.png" />
        </a>
        <h2>Sthlm Startup Pong</h2>
        <p>Game is on! Let's meet, have a drink and play ping pong.</p>
    </li>
</ul>