.newsletter {
  $form-height: 50px;
  background-color: $black;
  color:#fff;
  padding:80px 20px;
  text-align: center;
  .newsletter-content {
    max-width: $content-width;
    margin:0 auto;
  }
  .newsletter-title {
    font-family: playfair display;
    font-weight: 400;
    font-style: italic;
    color:#fff;
    font-size: 40px;
    font-size: 4rem;
    margin:0;
  }
  .newsletter-description {
    @include font-size($font-small);
    opacity: 0.5;
  }
  .newsletter-form {
    position: relative;
    position: relative;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    box-shadow: 10px 10px 50px rgba(0,0,0,.5);
  }
  .newsletter-email {
    @include font-size($font-small);
    background: #fff;
    border: none;
    padding: 0 15px;
    height:$form-height;
    line-height: $form-height;
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    &:focus {
      outline:none;
    }
  }
  .newsletter-submit {
    transition: all .2s ease-in-out;
    @include font-size($font-small);
    background-color: #65c364;
    border: none;
    height: $form-height;
    line-height: $form-height;
    padding: 0 20px;
    color: #fff;
    font-weight: 600;
    width:100%;
    @include screens(semi-large) {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      width: auto;
      &:hover {
        box-shadow: 0 4px 40px rgba(0,0,0,.5);
        transform: scale(1.1);
      }
    }
  }
}
