.posts {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  z-index: $z-posts;
  position: relative;

  .post {
    width:300px;
    margin:40px;
  }
  .post-image-container {
    width: 100%;
    padding-top: 75%;
    position: relative;
    box-shadow: 10px 10px 60px rgba(0,0,0,.5);
    background-color: #111;
    // border: solid 15px #fff;
  }
  .post-image {
    transition:all .4s ease-in-out;
    background-size:cover;
    background-position:center;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:$z-slide-background-image;
    opacity: 0;
    @include screens(semi-large) {
      transform:scale(1.05);
    }
    &.active.image-ready {
      opacity:1;
      transform:scale(1);
    }
  }

  .post-title {
    font-size: 20px;
    font-weight: 900;
    margin:30px 0 0;
  }
  .post-description {
    font-size: 16px;
    margin: 10px 0;
  }
  .role {
    display:none;
  }
  .post-links {
    font-size:16px;
  }
  .post-links a {
    font-weight: 500;
    display: inline-block;
    margin:0 7px;
  }
}
