<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/rww8ngz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="http://jonnystromberg.com{{ page.url }}" />
    <meta property="og:image" content="http://jonnystromberg.com/images/home/og-image.png" />
    <meta property="og:description" content="{{ page.description }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@javve">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="http://jonnystromberg.com/images/home/og-image.png">
    <meta name="twitter:domain" content="jonnystromberg.com">

  </head>
  <body id="{{ page.body_id }}">

    {% include menu.html %}

    {{ content }}

    {% include author.html %}

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </body>
</html>
