---
layout: default
title: "Jonny Strömberg: A State Of The Art Buzz Driven Designer"
description: "No talent, just a decade of rock solid passion. Foolish and hungry."
---
<div id="start">

    <div class="tagline">
        <h1>A State Of The Art Buzz Driven Designer.</h1>
        <h2>No talent, just a decade of rock solid passion. Foolish and hungry.</h2>
    </div>

    {% include projects.html %}

    <div class="short-about box">
        <p>
            Hi, my name is Jonny and I'm a designer, entrepreneur &
            JavaScript hacker from Stockholm working as lead
            designer at <a href="http://www.mynewsdesk.com">Mynewsdesk</a>.

            Design and programming have been my passion since
            2000 and during the last six years have I co-founded
            a couple of companies and projects while studying
            to become a master of engineering on interaction technology and
            design.
        </p>
        <p>
             I like when things happen, and if it doesn't, I'm ensuring that it does. I’m a geek that loves people.
            <a href="/about">More »</a>
        </p>

        {% include components/box_share.html %}
    </div>

    <ul class="social">
        <li><a title="twitter.com/javve" href="http://twitter.com/javve" class="twitter"><span>Twitter: @javve</span></a></li>
        <li><a title="github.com/javve" href="http://github.com/javve" class="github"><span>Github: javve</span></a></li>
        <li><a title="facebook.com/javve" href="http://facebook.com/javve" class="facebook"><span>Facebook: javve</span></a></li>
        <li><a title="dribble.com/javve" href="http://dribbble.com/javve" class="dribble"><span>Dribble: javve</span></a></li>
        <li><a title="linkedin.com/in/jonnystromberg" href="http://www.linkedin.com/in/jonnystromberg" class="linkedin"><span>Linkedin: jonnystromberg</span></a></li>
    </ul>

</div>